In [38]:
import numpy as np
import pandas as pd

In [39]:
labels = ['Bochum', 'Essen', 'Dortmund']
population = [364628, 583109, 587010]

In [40]:
arr = np.array(population)
arr

array([364628, 583109, 587010])

In [41]:
d = {'Bochum': 364628, 'Essen': 583109, 'Dortmund': 587010}

### in pandas

In [42]:
pd.Series(data=population)

0    364628
1    583109
2    587010
dtype: int64

In [43]:
# index
pop_series = pd.Series(data=population, index=labels)
pop_series

Bochum      364628
Essen       583109
Dortmund    587010
dtype: int64

In [44]:
# selection
pop_series['Bochum']

364628

### `pandas.DataFrame`

In [45]:
rand_arr = np.random.randn(5, 4)
rand_arr

array([[-0.16751219, -1.36155327,  0.41191597, -1.02894864],
       [ 0.53129202, -0.40884801,  1.29984518, -1.54917443],
       [-0.23509477,  0.75273601,  0.05969593,  1.58764849],
       [-0.16499197, -0.64795983,  0.41177039,  0.82951455],
       [ 1.32913502, -0.32273494,  1.66902992, -1.26295809]])

In [46]:
idx = ['A', 'B', 'C', 'D', 'E']
columns = ['W', 'X', 'Y', 'Z']
df = pd.DataFrame(data=rand_arr, index=idx, columns=columns)
df

          W         X         Y         Z
A -0.167512 -1.361553  0.411916 -1.028949
B  0.531292 -0.408848  1.299845 -1.549174
C -0.235095  0.752736  0.059696  1.587648
D -0.164992 -0.647960  0.411770  0.829515
E  1.329135 -0.322735  1.669030 -1.262958

### select columns from `pandas.DataFrame`

In [47]:
# select a column
print(df['W'])
print(type(df['W']))

A   -0.167512
B    0.531292
C   -0.235095
D   -0.164992
E    1.329135
Name: W, dtype: float64
<class 'pandas.core.series.Series'>

In [48]:
print(df[['W', 'X']])
print(type(df[['W', 'X']]))

          W         X
A -0.167512 -1.361553
B  0.531292 -0.408848
C -0.235095  0.752736
D -0.164992 -0.647960
E  1.329135 -0.322735
<class 'pandas.core.frame.DataFrame'>

### select rows from `pandas.DataFrame`

In [49]:
sel = df.loc['A']
print(sel)
print(type(sel))

W   -0.167512
X   -1.361553
Y    0.411916
Z   -1.028949
Name: A, dtype: float64
<class 'pandas.core.series.Series'>

In [50]:
df.iloc[0]

W   -0.167512
X   -1.361553
Y    0.411916
Z   -1.028949
Name: A, dtype: float64

In [51]:
df.loc[['A', 'B']]

          W         X         Y         Z
A -0.167512 -1.361553  0.411916 -1.028949
B  0.531292 -0.408848  1.299845 -1.549174

In [52]:
df.loc[['A', 'B'], ['W', 'X']]

          W         X
A -0.167512 -1.361553
B  0.531292 -0.408848

### add columns

In [53]:
df['new'] = df['X'] + df['Z']
df

          W         X         Y         Z       new
A -0.167512 -1.361553  0.411916 -1.028949 -2.390502
B  0.531292 -0.408848  1.299845 -1.549174 -1.958022
C -0.235095  0.752736  0.059696  1.587648  2.340384
D -0.164992 -0.647960  0.411770  0.829515  0.181555
E  1.329135 -0.322735  1.669030 -1.262958 -1.585693

### remove columns and rows

In [54]:
df.drop('new', axis=1, inplace=True)
df

          W         X         Y         Z
A -0.167512 -1.361553  0.411916 -1.028949
B  0.531292 -0.408848  1.299845 -1.549174
C -0.235095  0.752736  0.059696  1.587648
D -0.164992 -0.647960  0.411770  0.829515
E  1.329135 -0.322735  1.669030 -1.262958

In [55]:
# default arg of axis is 0
df.drop('E', inplace=True)
df

          W         X         Y         Z
A -0.167512 -1.361553  0.411916 -1.028949
B  0.531292 -0.408848  1.299845 -1.549174
C -0.235095  0.752736  0.059696  1.587648
D -0.164992 -0.647960  0.411770  0.829515